src/main/app/mulesoft-weather-application.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/current/mule-ajax.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <db:generic-config driverClassName="com.mysql.jdbc.Driver" name="MySQL_Configuration" doc:name="MySQL Configuration" url="jdbc:mysql://localhost:3306/weather?user=root&amp;password=root"/>
    <http:request-config name="Query-openweathermap-configuration" host="api.openweathermap.org" port="80" doc:name="HTTP Request Configuration" />
    <jms:activemq-connector name="Active_MQ" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <flow name="searchCityFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP" allowedMethods="GET"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT country_code, country_name FROM weather.cities city left join countries country on city.country=country.country_code where country_code is not null group by city.country order by country_code ASC;]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message" metadata:id="4d705c56-f55a-4b62-bc6c-0c49919b0cc5">
            <dw:input-payload mimeType="application/java"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	div: {
		(payload map ((payload01 , indexOfPayload01) -> {
			option @(value: payload01.country_code): payload01.country_name		
		}))
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <object-to-string-transformer mimeType="text/html" doc:name="Object to String"/>
        <parse-template location="./src/main/resources/index.html" doc:name="Parse Template"/>
    </flow>
    <flow name="selectCityFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/cities" doc:name="HTTP"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:dynamic-query><![CDATA[select * from cities where country="#[message.inboundProperties.'http.query.params'.country]" && `name` like "%#[message.inboundProperties.'http.query.params'.query]%";]]></db:dynamic-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message" metadata:id="4c2b7aa7-e485-4e73-ad76-beeaeab23934">
            <dw:input-payload mimeType="application/java"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	div: {
		(payload map ((payload01 , indexOfPayload01) -> {
			option @(value: payload01.id): payload01.name		
		}))
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <object-to-string-transformer doc:name="Object to String" mimeType="text/html"/>
        <parse-template location="./src/main/resources/cities.html" doc:name="Parse Template"/>
    </flow>
    <flow name="searchWeatherFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/weather" doc:name="HTTP" allowedMethods="GET"/>
        <http:request config-ref="Query-openweathermap-configuration" path="/data/2.5/weather" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="id" value="#[message.inboundProperties.'http.query.params'.id]"/>
                <http:query-param paramName="appid" value="eba8d3b0edcaf9a93f9bd74589870d37"/>
                <http:query-param paramName="units" value="metric"/>
                <http:query-param paramName="lang" value="ES"/>
            </http:request-builder>
        </http:request>
        <json:json-to-object-transformer returnClass="java.util.HashMap" mimeType="text/html" doc:name="JSON to Object"/>
        <parse-template location="./src/main/resources/weather.html" doc:name="Parse Template"/>
    </flow>
</mule>
